<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Casa & Decoração - Produtos</title>
        <link rel="stylesheet" href="css/catalogo.css" />
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="js/catalogo.js" defer></script>
    </head>
    <body>
        <header>
            <button class="icon-btn">
                <i data-lucide="menu" size="24"></i>
            </button>
            <h1 class="header-title">Casa & Decoração</h1>
            <button class="icon-btn">
                <i data-lucide="shopping-cart" size="24"></i>
            </button>
        </header>

        <section class="search-section">
            <div class="search-box">
                <i data-lucide="search" color="#9CA3AF" size="20"></i>
                <input type="text" placeholder="Buscar produtos..." />
            </div>
        </section>

        <section class="chips-scroll">
            <button class="chip active" id="filtro-todos">Todos</button>
            <button class="chip inactive" id="filtro-moveis">Móveis</button>
            <button class="chip inactive" id="filtro-decoracao">Decoração</button>
            <button class="chip inactive" id="filtro-iluminacao">Iluminação</button>
            <button class="chip inactive" id="filtro-textil">Têxtil</button>
        </section>

        <section class="filters-row">
            <!-- <button class="dropdown-btn">
                Categoria
                <i data-lucide="chevron-down" size="16" color="#6B7280"></i>
            </button>
            <button class="dropdown-btn">
                Faixa de Preço
                <i data-lucide="chevron-down" size="16" color="#6B7280"></i>
            </button> -->
        </section>

        <section class="results-info">
            <span class="results-count"><%= produtos.length %> produtos encontrados</span>
            <button class="sort-btn">
                <i data-lucide="list-filter" size="16"></i>
                Ordenar
            </button>
        </section>

        <section class="product-grid">
            <% produtos.forEach( function(produto) { %>
                <a class="product-card" href="/produtos/<%= produto.id_produto %>">
                    <div class="card-image-box">
                        <button class="btn-fav">
                            <i data-lucide="heart" size="18"></i>
                        </button>
                        <img src="https://images.unsplash.com/photo-1764866557865-1f4e4060211f?q=80&w=765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="card-details">
                        <span class="card-category"><%= produto.categoria.nome %></span>
                        <h3 class="card-title"><%= produto.nome %></h3>
                        <div class="card-footer">
                            <span class="card-price">R$ <%= produto.preco %></span>
                            <button class="btn-add">
                                <i data-lucide="plus" size="20"></i>
                            </button>
                        </div>
                    </div>
                </a>
            <% }); %>
        </section>

        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
